
body  {
   
   font-family: 'Ubuntu', sans-serif;
   font-size: medium;
}

.corpo{
    margin-left: 20%;
}

.sobre_mim{

    margin-right: 20%;

}

.nome{
  
    margin-bottom: 10px ;

}


h1{

    box-shadow: 5px 5px 5px rgba(241, 84, 11, 0.726);
    display: inline;
    margin-left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: italic;
    border-bottom:5px solid yellow;
}


nav {
    margin-left: 10%;
    display: inline;
}

pre {
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}

h2 {

    font-size: 35px;
    margin-left: 29%;
}

section{
    margin-top: 30px;
    margin-bottom: 30px;
}

.centralizar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centralizar2{
    margin-left: 200px;
}

.centralizar3{
    margin-left: 50px;
}

.contato{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-top: 120px;
    margin-right: 30px;
    width: 300px;
    height: 150px;
    padding: 3px;
    border: solid 1px black;
    display: none;
    background-color: white;
    color: black;
}

.fechar{

    background-color: red;
    color: black;
}

.foto_perfil{
    margin-left: 23%;  
}

a{
    color: rgb(88, 88, 235);
}

.foto_com_mouse{
    margin-left: 17%;
    width: 400px;
    height: 450px;
    transition: 0.3 s;
    box-shadow: 6px 6px 6px rgba(241, 84, 11, 0.726);
    border-bottom:4px solid yellow;
    border-right:4px solid yellow;
}


.foto_sem_mouse{
    width: 300px;
    height: 300px;
    transition: 0.3 s;
}

.escuro{
    background-color: black;
    color:white;
    transition: 1s;
}

.claro{
    background-color: white;
    color: black;
    transition: 1s;
}

.mudar_claro{
    margin: 5px;
    background-color: rgb(247, 247, 247);
    color: black;
    padding: 5px;
    height: auto;
    width: auto;
    border-radius: 15px;
}

.mudar_escuro{
    margin: 5px;
    background-color: rgb(7, 12, 43);
    color: white;
    padding: 5px;
    height: auto;
    width: auto;
    border-radius: 15px;
}

